footer {
  position: relative;
}

.footer-header {
  background-color: black;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  margin-top: 5%;
}

.footer-header img {
  max-width: 150px;
  height: auto;
}

.footer {
  padding-top: 60px;
  background-color: black;
  color: white;
}

.footer .contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
}

.footer .col {
  width: 200px;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.footer .col h1 {
  margin: 0;
  font-size: 11px;
  line-height: 24px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .col ul li {
  color: white;
  font-size: 12px;
  font-family: inherit;
  padding: 5px 0;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
}

.footer .col ul li:hover {
  color: #ffffff;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.social-icons a {
  color: white;
  padding: 7px;
  text-decoration: none;
}

.footer-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 110px;
  color: white;
  margin-bottom: -21px;
  padding-right: 5%;
}

.footer-left span {
  margin-right: 5px;
  color: white;
}

.btn-style4, .btn-style5 {
  font-size: 11px;
  text-align: center;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 14px;
  height: 47px;
  transition: all 0.5s;
  text-decoration: none;
}

.btn-style4, .btn-style5 {
  width: 150px;
}

.btn-style4 {
  background-color: black;
  border: solid 2px white;
  color: white;
}

.btn-style4:hover {
  background-color: white;
  color: black;
}

.btn-style5 {
  background-color: white;
  border: solid 2px white;
  color: black;
}

.btn-style5:hover {
  background-color: black;
  color: white;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  padding-top: 10px;
  border-top: 1px solid gray;
}

.final {
  color: white;
  font-size: 12px;
}

@media (max-width: 768px) {
  .footer .contain {
    flex-direction: column;
    align-items: center;
  }

  .footer .col {
    width: 100%;
    padding: 10px 0;
  }

  .footer .col h1 {
    font-size: 14px;
    line-height: 22px;
  }

  .footer .col ul li {
    font-size: 14px;
  }

  .footer-left {
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    padding: 20px 10%;
    border-top: none;
  }

  .social-icons {
    margin-top: 10px;
    margin-right: 0;
  }

  .footer-bottom .final {
    order: 2;
    margin-top: 20px;
  }
}
