.carousel-container {
  height: 175vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel .slide {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}



/* Estilos específicos para teléfonos móviles */
@media (max-width: 767px) {
  .carousel-container {
    height: 100vh; /* Ajusta la altura del contenedor en dispositivos móviles */
  }
  
  .carousel .slide img {
    height: 80vh; /* Ajusta la altura de la imagen en dispositivos móviles */
    width: auto; /* Mantiene la relación de aspecto de la imagen */
    margin-left: 0;
  }

  .carousel .slide {
    background-size: contain; /* Ajusta el tamaño del fondo para que se ajuste a la pantalla del móvil */
    background-position: center;
  }
  
  .carousel .thumbs-wrapper {
    display: none; /* Oculta las miniaturas en dispositivos móviles */
  }
}