/* Contenedor del video */
.video-container  {
  position: relative;
  width: 100%;
  height: 100vh; /* Ajusta la altura del contenedor para cubrir toda la pantalla */
  overflow: hidden; /* Evita el desplazamiento del contenedor */
  width: -webkit-fill-available;

}

/* Estilo del video */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
   /* Utiliza el ancho disponible en navegadores WebKit */
  height: 100%; /* Asegura que el video cubra toda la altura del contenedor */
  object-fit: cover; /* Ajusta el video para cubrir el contenedor sin deformarse */
  /* Evita el desbordamiento del video */
  max-width: 100%;
  max-height: 100%;
  overflow: hidden; 
  /* Evita el desplazamiento del video */
  width: -webkit-fill-available;
}

/* Estilos específicos para teléfonos móviles */
@media (max-width: 767px) {
  .background-video {
    /* Asegúrate de que el video se ajuste también en dispositivos móviles */
    object-fit: cover;
    width: -webkit-fill-available; /* Mantiene la propiedad para WebKit en móviles */
  }
}
