.product-card-container {
    display: flex;
    gap: 0.3rem; /* Reduce la separación entre las tarjetas */
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5rem; /* Añade un margen a la izquierda para alejar las tarjetas del borde izquierdo */
}

.product-list-title {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 20px;
}
#root > div:nth-child(6) > div.sc-braxZu.hCIMbU > div.sc-gJhJTp.guSiwr > div:nth-child(1) {
    margin-left: 4rem; /* Ajusta el valor según tus necesidades */
}

#root > div:nth-child(6) > div.sc-braxZu.hCIMbU > div.sc-fQpRED.DeGnB {
    margin-top: -5%;
}

/* Opcional: Ajusta los estilos para el contenedor del slider si es necesario */
.jxupTb {
    min-width: 10.333%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}