/* Estilos generales para la sección final */
.final-section {
    margin-bottom: 3%;
    display: flex;
    width: 100%;
    height: 500px;
    background-color: #f8f8f8;
    margin-top: 5%;
}

.final-section-content {
    display: flex;
    width: 90%;
    height: 100%;
}

.final-section-image {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.final-section-image img {
    max-width: 100%; /* Ajustar el tamaño máximo para que se adapte al contenedor */
    height: auto; /* Mantener la relación de aspecto */
    object-fit: cover;
    width: auto; /* Ajustar el ancho automáticamente */
}

.final-section-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #333;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    max-width: 400px;
    margin-left: 20px;
}

.final-section-text h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.final-section-text p {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.buy-now-link {
    font-size: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.buy-now-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #333;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.buy-now-link:hover::after {
    transform: scaleX(1);
    background-color: #555;
}

/* Media query para dispositivos móviles */
@media (max-width: 767px) {
    .final-section {
        height: auto; /* Ajustar la altura para dispositivos móviles */
        flex-direction: column;
        margin-top: 3%;
    }

    .final-section-content {
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 20px;
    }

    .final-section-image {
        flex: none;
        width: 100%;
        padding: 0;
    }

    .final-section-image img {
        max-width: 100%;
        margin: 0;
    }

    .final-section-text {
        flex: none;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .final-section-text h2 {
        font-size: 18px;
    }

    .final-section-text p {
        font-size: 14px;
    }

    .buy-now-link {
        font-size: 12px;
    }
}

/* Media query para tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
    .final-section {
        height: auto; /* Ajustar la altura para tabletas */
    }

    .final-section-content {
        flex-direction: column;
    }

    .final-section-image {
        flex: none;
        width: 100%;
        padding: 10px;
    }

    .final-section-image img {
        max-width: 100%;
        margin: 0;
        margin-left: 14%;
    }

    .final-section-text {
        flex: none;
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-left: 30%;
    }

    .final-section-text h2 {
        font-size: 22px;
    }

    .final-section-text p {
        font-size: 15px;
    }

    .buy-now-link {
        font-size: 11px;
    }
}
