/* FinalSection.css */

.final-section {
    margin-bottom: 3%;
    display: flex;
    width: 100%;
    height: 500px;
    background-color: #f8f8f8;
    margin-top: 5%;
}

.final-section-content {
    display: flex;
    width: 90%;
    height: 100%;
}

.final-section-image {
    flex: 2; /* Ajusta el espacio ocupado por la imagen */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.final-section-image img {
    max-width: 110%;
    max-height: 110%;
    height: auto;
    object-fit: cover;
    margin-left: -15%;
    width: 650px; /* Ajusta el ancho de la imagen */
    margin-bottom: -5%;
}

.final-section-text {
    flex: 1; /* Ajusta el espacio ocupado por el texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #333;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    max-width: 400px; /* Ajusta el ancho máximo del contenedor de texto */
    margin-left: 20px; /* Espacio entre el contenedor de texto y la imagen */
}

.final-section-text h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center; /* Centra el título */
}

.final-section-text p {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 20px; /* Espacio adicional para el enlace */
}

.buy-now-link {
    font-size: 10px;
    color: #333; /* Color del enlace */
    text-decoration: none; /* Quita el subrayado del enlace */
    font-weight: bold; /* Opcional: hace el texto más destacado */
    display: inline-block; /* Permite añadir márgenes */
    margin-top: 10px; /* Espacio superior para separar del párrafo */
    position: relative; /* Permite posicionar el subrayado */
    text-align: center;
}

.buy-now-link::after {
    content: ''; /* Necesario para el subrayado */
    position: absolute;
    left: 0;
    bottom: -2px; /* Posiciona el subrayado justo debajo del texto */
    width: 100%;
    height: 1px; /* Grosor del subrayado reducido */
    background-color: #333; /* Color del subrayado */
    transform: scaleX(0); /* Inicialmente oculto */
    transform-origin: bottom left; /* Origen de la animación */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transición suave para el efecto */
}

.buy-now-link:hover::after {
    transform: scaleX(1); /* Muestra el subrayado en el hover */
    background-color: #555; /* Color del subrayado al hacer hover (más claro que #333) */
}
